<!DOCTYPE html>
<html lang="en">

<head>
    <style>

html {
  min-height: 100%;
}
    h1 {
    font-size:1.7rem;
    font: weight 300;
    color:#b10f1a;
    text-align: center;
  }  
    
    li {
      float: center;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #111;
    }
    .user {
      color: #b10f1a;
      text-align: left;
    }
    hr {
      color: #b10f1a;
    }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Telusko</title>
</head>



    {% block content %}

    {% endblock %}

</body>

</html>